@import "./css/var";
@import "./css/alineacionHorizontal";
@import "./css/marginUD_Size";
@import "./css/alineacionVertical";
@import "./css/notificacion";


.container{
    width: $mainWidth;
    background-color: $colorContainer;
    position: absolute;
    font-family: $family;
    border-radius: $coner_border;
    border: $border_gral;

    &__sub{
        @include alineacionHorizontal;
        margin: $marginSub;
        background-color: white;
        border-radius: $coner_border;
        .row1{
            @include alineacionHorizontal;
            img{
                border-radius: $borderRadiusImg;
                width: $widthImg;
                margin-top: $paddingSub;
                border: $border_gral;
            }
            .title{
                @include marginUD_Size(1px,20px);
            }
            .subtitle{
                @include marginUD_Size(1px,16px);
            }
            .text{
                @include marginUD_Size(5px,12px);
                color: $colorText;
            }
        }
        
        .row2{
            @include alineacionVertical;
            justify-content: center;
            background-color: $back-color;
            
            width: $percent;
            i{
                color: $colorIcon;
                font-size: $size-icon;
                padding: $paddingIcon;
                position: relative;
                span{
                @include notificacion;
                }
            }
            border-bottom: 1px solid $colorBorderBottom;
        }

        .row3{
            @include alineacionVertical;
            justify-content: space-evenly;
            width: $percent;
            .text{
                @include alineacionHorizontal;
                @include marginUD_Size(10px,12px);
                color: $colorText;
                border-right: 1px solid lightgray;
                padding-right: 10px;
                
                span{
                    @include marginUD_Size(3px, 18px);
                    font-weight: bold;
                    color: $color_gral;

                }
            }
            
            div:last-of-type p{
                border-right: none;
                padding-right: 0;

            }
        }
    }
}
