.container {
  width: 300px;
  background-color: #dae1ea;
  position: absolute;
  font-family: sans-serif;
  border-radius: 10px;
  border: 1px solid #b8c4d4; }
  .container__sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 10px 10px 10px;
    background-color: white;
    border-radius: 10px; }
    .container__sub .row1 {
      display: flex;
      flex-direction: column;
      align-items: center; }
      .container__sub .row1 img {
        border-radius: 100%;
        width: 45%;
        margin-top: 10px;
        border: 1px solid #b8c4d4; }
      .container__sub .row1 .title {
        margin: 1px 0;
        font-size: 20px; }
      .container__sub .row1 .subtitle {
        margin: 1px 0;
        font-size: 16px; }
      .container__sub .row1 .text {
        margin: 5px 0;
        font-size: 12px;
        color: lightgray; }
    .container__sub .row2 {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #f1f3f6;
      width: 100%;
      border-bottom: 1px solid #dae1ea; }
      .container__sub .row2 i {
        color: #b3bfcf;
        font-size: 18px;
        padding: 15px;
        position: relative; }
        .container__sub .row2 i span {
          position: absolute;
          right: 10px;
          top: 15px;
          width: 10px;
          height: 10px;
          border-radius: 100%;
          background-color: red; }
    .container__sub .row3 {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 100%; }
      .container__sub .row3 .text {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px 0;
        font-size: 12px;
        color: lightgray;
        border-right: 1px solid lightgray;
        padding-right: 10px; }
        .container__sub .row3 .text span {
          margin: 3px 0;
          font-size: 18px;
          font-weight: bold;
          color: #545a60; }
      .container__sub .row3 div:last-of-type p {
        border-right: none;
        padding-right: 0; }
