$mainWidth: 300px;
$colorContainer:#dae1ea;
$marginSub: 30px 10px 10px 10px;
$paddingSub: 10px;
$borderRadiusImg: 100%;
$widthImg: 45%;
$family: sans-serif;
$size-icon: 18px;
$percent: 100%;
$paddingIcon: 15px;
$back-color: #f1f3f6;
$coner_border: 10px;
$colorIcon: #b3bfcf;
$colorText: lightgray;
$color_gral: #545a60;
$color-bord:#b8c4d4;
$border_gral: 1px solid $color-bord;
$colorBorderBottom:#dae1ea;